table.monTop{
    max-width: max-content;
    color:darkcyan;
    background-color:whitesmoke;
    border-collapse: separate;
    border-color: cadetblue;

    
}

table.monTop thead {
    background-color: cadetblue;
    color: black;
}
table.monTop tbody tr :hover{
    background-color: cadetblue;
    color: black; 
}


