

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e21111;
  border-bottom: 4px solid #000000;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e21111;
  border-top: 4px solid  #000000;
  height: 200px;
  color: #fff;
  font-weight: bold;
}

iframe {
  width: 80%;
  min-height: 200px ;
}

#resume {
  min-width: 300px;
}

footer > p {
  width: fit-content;
  padding: 1px 3px 1px;
  border: 4px solid #fff;
  border-radius: 4px;
  margin: auto;
}

header > img {
  margin: 0px 0px 0;
  width: 12%;
  height: auto;
}

.top-title{
    text-align: center;
    color: #fff;
}

h1 {
  margin: 0;
  padding: 0 10% 0;
  font-size: 3em;
  text-align: center;
}

#head-description {
  padding: 0 5% 0;
  font-size: 1.5em;
  font-weight: 300;
  text-justify: distribute;
}

body {
    margin: 0;
    font-family: "Rethink Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}



.table{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-image: url(assets/F1Sieste.jpg);
    background-size: 20%;
    padding: 50px 15% 50px;

}

#circuit {
  min-width: 500px;
}


thead tr th:first-child {
    border-top-left-radius: 10px;
    border-top: none;
}
    
thead tr th:last-child {
    border-top-right-radius: 10px;
    border-top: none;
}

thead tr th:last-child {
    border-right: none;
}

thead tr th:first-child {
    border-left: none;
}

thead tr td {
  border-top: none; 
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    border-left: none;
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    border-right: none;
}

    
table tr td:last-child {
    border-right: none;
}

table tr td:first-child {
    border-left: none;
}

table tr td {
  border-bottom: none; 
}

.text-3d {
 text-shadow: 
  1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -0.5px 0.5px 0 #000,
  -1px 1px 0 #000,
  -1.5px 1.5px 0 #000,
  -2px 2px 0 #000,
  -2.5px 2.5px 0 #000,
  -3px 3px 0 #000;
}



table {
  border-collapse: collapse;
  border-radius: 10px;
  font-size: 1.2em;
  text-justify: inter-word;
  letter-spacing: 1px;
  box-shadow: 
    3px 3px 5px #555555,
    -3px 3px 5px #555555,
    3px -3px 5px #555555,
    -3px -3px 5px #555555;
}

thead {
  border-radius: 10px;
  background-image: url("assets/F1_chequered_flag2x2light.png");
  background-size: 3%;
  font-size: 1.7em;
  font-weight: 400;
  font-style: normal;
  color: #e31212;
  box-shadow: -1px 0px 5px #555555;
}

th,
td {
  border: 1px solid #a0a0a0;
  padding: 8px 10px;
  
}

.table-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

td > .table-content {
  padding-left: 50px;
}

td > img {
  max-width: 200px;
  
}

td:last-of-type {
  text-align: center;
}

tbody > tr {
  background-color: #edeef2;
}
