
body {
    font-family: 'Arial', sans-serif;
    background: url('../source/background.jpg') no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;
}
header {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: #000 2px 2px 4px;
    text-transform: uppercase;
}

div.footer {
    height: 70px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: right;
}

button.bouton {
    background-color: rgba(13, 66, 15, 0.75);
    border-color: rgba(13, 66, 15, 1);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}